body {
  margin: 0px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
}

#logo {
  height: 50px;
  margin: 10px;
}

ul.menu {
  display: flex;
  flex-basis: 350px;
  padding: 0;
  list-style-type: none;
  justify-content: space-around;
}

ul.menu li {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
}

#mission-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-image: url(./images/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#mission {
  text-align: center;
  flex-basis: 100%;
  background-color: black;
}

#tea {
  align-self: center;
  width: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#tea-of-month {
 text-align: center;
}

#tea-figures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

figure {
  margin: 10px;
}

img {
  height: 200px;
  width: 300px;
}

figcaption {
  text-align: center;
}

#locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url(./images/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#locations h2 {
  color: black;
  margin-bottom: 15px;
}

#address-container {
  display: flex;
}

.address {
  text-align: center;
  background-color: black;
  min-width: 300px;
  flex-basis: 300px;
  margin-left: 40px;
}

footer {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: center;
}

#contact {
  text-align: center;
}

footer h5 {
  margin-left: 20px;
  align-self: flex-start;
}