body {
  margin: 0px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

#header {
  display: flex;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
}

#logo {
  height: 50px;
  margin: 10px;
}

ul.menu {
  display: flex;
  flex-basis: 350px;
  padding: 0;
  list-style-type: none;
  justify-content: space-around;
}

ul.menu li {
  text-decoration: underline;
}

#mission-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-image: url(./images/img-mission-background.jpg);
}

#mission {
  text-align: center;
  flex-basis: 100%;
  background-color: black;
}